<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find mobile_robot_slam)/launch/mobile_robot_gmapping.launch">
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mobile_robot_slam)/config/slam.rviz"/>
  </group>
</launch>